body{
    background-color: red;
}
label{
    background-color:lightgoldenrodyellow;
    font-style: italic;
    line-height: 20px;
}
.sub{
    padding:10px;
    border:lightgoldenrodyellow;
}
h1{
    text-align: center;
}